.main {
  display: flex;
  justify-content: center;
  max-width: 15rem;
}

.separadorParte {
  display: flex;
  width: 50rem;
  background-color: aqua;
  height: 2rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.separadorParte h5 {
  display: flex;
}

*{
display: flex;
flex-direction: column;
justify-content: center;
}


